body
    padding-top: 70px
    header
        .logo-wrapper
            display: flex
            align-items: center
            .logo
                width: 60px
                height: 60px
    .slider
        margin-top: 50px
        padding: 50px
        .title
            text-align: center
        h2
            margin-top: 50px
            text-align: center
        .text
            text-align: center
        .wrapper
            width: 100%
            display: flex
            justify-content: center
            a
                margin-top: 50px
    .forwhom
        margin-top: 100px
        background-color: #fff
        .card-group
            margin-top: 50px
        .text
            text-align: center
            margin-top: 30px
    .faq
        margin-top: 100px
        .accordion
            margin-top: 60px
            button
                font-style: bold

            .accordion-body
                color: grey
